{% extends "layout.html" %}

{% block title %}
    Login - IGS Table Tennis
{% endblock %}

{% block content %}
    <section class="content">
        <h1 class="a">Login to Access</h1>
        <div class="login-form">
            <form action="{{ url_for('login') }}" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </section>
{% endblock %}